.wrapper {
  height: calc(100vh - 6.5rem);
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #efefef; */
}

.form {
  width: 30rem;
  display: flex;
  flex-flow: column;
  border: 1px solid #000;
  padding: 2rem;
  gap: 2rem;
  background: #bb0243;
  color: #efefef;
  /* background: #efefef; */
}

form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

input {
  padding: 1rem;
  width: 100%;
  background: transparent;
  border: 1px solid #efefef;
  outline: none;
  color: #efefef;
}

input[type="submit"] {
  background: #efefef;
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  color: #bb0243;
}

a {
  color: #efefef;
}
